body{
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
}
*{
    z-index: 1;
}
.container{
    width: 80%;
    margin: 0 auto; 
    position: relative;
}

.container span{
    font-size: 30px;
    margin: 18px;
    margin-right: 317px;
}

/*mudança de logo01*/
.imagelogo {
    height: 50px;
    width: 50px;
    margin: 10px -80px 0px -20px;
}
.container:hover .imagelogo {
    visibility: hidden;
    opacity: 1;
}

/*mudança de logo02*/
.imagelogo2 {
    height: 49px;
    width: 31px;
    margin: 10px -75px 0px -10px;
}
.container .imagelogo2 {
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:0;
    left:0;
}
.container:hover .imagelogo2 {
    visibility: visible;
    opacity: 1;
}

button {
    background-color: rgb(255, 214, 0);
    color: #414141;
    height: 28px;
    width: 100px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #575757;
   /* height: 38px;*/
}
button:hover{
    background-color: #414141;
    color: #FFD600;
}

.header{
    color: #414141;
    box-shadow: 13px -5px 10px; 
    position: sticky; /*position e top faz fixar a navbar*/
    top: 0;
    z-index: 2;
    background-color: #fff;
}
.header .container { 
    display: flex;
    justify-content: space-between; 
}

.navbar{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
.header a{ 
    text-decoration: none;
    color: #414141;
}
a:hover{
    color: #FFD600;
}

/*BANNER*/
.banner{
    background-color:  #FFD600;
    padding-bottom: 20px;
    /* height: 509px; */
    width: 1109px;
    margin: 20px 254px 104px 254px;
    align-self:center;
    border-radius: 50px;
}
.banner .container{
    margin:64px;
    text-align: center;

    /* flex-direction: column;  */
    /* width: 500px;
    display: flex;
    position: relative;
    display: flex; /* por padrão, possui o 'flex-direction: row' (linha), e alinha os elementos filhos, distribuindo de maneira equivalente */
  /* justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* serve para 'agarrar' os elementos filhos, de maneira que quebra de linha se os elementos filhos 'transbordarem' deste elemento */
  /* text-align: center;  */
} 
/* .banner .container p label{
    flex-direction: column;
    justify-content: center;
} */
.container .div_graficos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.banner .container p{
    font-size: 50px;
    font-weight: lighter;
}
.banner .container label{
    margin: -25px 0 30px 0;
    color: #616161ab;
}
.container .img_login{
    margin: 90px 0px 0px 0px;
    margin-left: -117px;
    position: absolute;
    height: 430px; 
}
.graph {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #616161ab;
    width: 45%;
    height: 35vh;
    margin: 10px;
    padding: 5px;
    color:#FFD600;
  }

/* FOOTER */

.footer{
    background-color: #37474F;
    height: 70px;
    color: #FFD600;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-evenly;
}
.footer .container{
    display: flex;
    justify-content: left;
}
.footer .container span{
    margin: 1;
    padding: 0;
    font-size: 15px;
}
.footer .container img{
    width: 25px;
    height: 25px;
    margin: 15px;
}
